 /* Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  margin-top: 18px;
  position: absolute;
  border-radius: 5px;
  background-color: #bee3f8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.show {
  display: block;
}

.card_float{
  display: block;
  box-shadow: 0px -2px 10px 5px black;
}

/* This css is for modal box */
.modal {
      transition: opacity 0.25s ease;
    }
    body.modal-active {
      overflow-x: hidden;
      overflow-y: visible !important;
    }

.notify{
  display: block;
}

.notify:hover{
  box-shadow: -7px 7px 25px gray;
}

.searchbar:hover{
  box-shadow: -7px 7px 18px 1px gray;
}